<!-- Page Header -->
<header class="intro-header" style="background-image: url('images/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>ideaSharing</h1>
                    <hr class="small">
                    <span class="subheading">Share and Realize Your Ideas</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="#idea">
                    <h2 class="pos  t-title">
                        VR Projector
                    </h2>

                    <h3 class="post-subtitle">
                        The Projector beams VR into an entire room.
                    </h3>
                </a>

                <p class="post-meta">Posted by <a href="#">Liping</a> on August 24, 2014</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="#idea">
                    <h2 class="post-title">
                        A kind of cloth that changes styles everyday
                    </h2>
                </a>

                <p class="post-meta">Posted by <a href="#">Chang</a> on September 18, 2015</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="#idea">
                    <h2 class="post-title">
                        Urban breathing mask
                    </h2>

                    <h3 class="post-subtitle">
                        The urban breathing mask for health-conscious global citizens.
                    </h3>
                </a>

                <p class="post-meta">Posted by <a href="#">Xiaotong</a> on July 8, 2015</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="#idea">
                    <h2 class="post-title">
                        Grove Ecosystem
                    </h2>

                    <h3 class="post-subtitle">
                        Grow fresh food in your home.
                    </h3>
                </a>

                <p class="post-meta">Posted by <a href="#">Lijuan</a> on July 8, 2015</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="#idea">
                    <h2 class="post-title">
                        A Flying Jacket can make people explore sky
                    </h2>
                </a>

                <p class="post-meta">Posted by <a href="#">Jianxin</a> on September 24, 2015</p>
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">More &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; ideaSharing 2015</p>
            </div>
        </div>
    </div>
</footer>