<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('images/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{account.user.username}}'s account:</h1>
                    <h2><em>Email: </em></h2>
                    <h2>{{account.user.email}}</h2>
                    <h2><em>Description: </em></h2>
                    <h2>{{account.user.description}}</h2>
                    <!--<h2 class="subheading">{{idea.idea.description}}</h2>-->
                    <!--<span class="meta">Posted by <a href="#">{{idea.idea.user.username}}</a> on {{idea.idea.datetimeString}}</span>-->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Idea Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!--<h5 class="section-heading">User Name</h5>-->

                <!--<p>{{account.user.username}}</p>-->

                <!--<h5 class="section-heading">Id</h5>-->

                <!--<p>{{account.user.id}}</p>-->

                <!--<h5 class="section-heading">Email</h5>-->

                <!--<p>{{account.user.email}}</p>-->

                <!--<h5 class="section-heading">Description</h5>-->

                <!--<p>{{account.user.description}}</p>-->





            </div>
        </div>
    </div>
</article>

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; ideaSharing 2015</p>
            </div>
        </div>
    </div>
</footer>