<!-- Page Header -->
<header class="intro-header" style="background-image: url('images/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>ideaSharing</h1>
                    <hr class="small">
                    <span class="subheading">Share and Realize Your Ideas</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <div class="post-preview" ng-repeat="idea in home.ideas | filter:nav.keyword">
                <a href="#ideas/{{idea.id}}">
                    <h2 class="post-title">
                        {{idea.title}}
                    </h2>

                    <h3 class="post-subtitle">
                        {{idea.description}}
                    </h3>
                </a>

                <p class="post-meta">Posted by <a href="#">{{idea.user.username}}</a> on {{idea.datetimeString}}</p>
                <hr>
            </div>

            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">More &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; ideaSharing 2015</p>
            </div>
        </div>
    </div>
</footer>