<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('images/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{idea.idea.title}}</h1>
                    <h2 class="subheading">{{idea.idea.description}}</h2>
                    <span class="meta">Posted by <a href="#">{{idea.idea.user.username}}</a> on {{idea.idea.datetimeString}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Idea Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" ng-init="like = false">
                <h2 class="section-heading">Problem</h2>

                <p>{{idea.idea.problem}}</p>

                <h2 class="section-heading">Solution</h2>

                <p>{{idea.idea.solution}}</p>

                <br>
                <span ng-click="like = true" ng-show="like == false" class="glyphicon glyphicon glyphicon-heart-empty like-icon"></span>
                <span ng-click="like = false" ng-show="like == true" class="glyphicon glyphicon glyphicon-heart like-icon"></span>

                <h2 class="section-heading">Comments</h2>

                <!--<p>{{idea.comments[0].content}}</p>-->

                <div class="post-preview" ng-repeat="comment in idea.comments">
                    <p class="post-title">{{comment.content}}</p>
                    <p class="post-meta">Commented by <b>{{comment.commenter.username}}</b> on {{comment.datetimeString}}</p>
                    <hr>
                </div>

                <h2 class="section-heading">New Comment</h2>

                <textarea class="form-control" rows="10" ng-model="idea.commentContent"></textarea>

                <ul class="pager"><li class="next"><a href="" ng-click="idea.submitComment(idea.commentContent)">Submit</a></li></ul>

            </div>
        </div>
    </div>
</article>

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; ideaSharing 2015</p>
            </div>
        </div>
    </div>
</footer>