<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('images/share-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Share your idea</h1>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Idea Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <form class="form-group">

                <h2 class="section-heading">Title</h2>
                <input type="text" class="form-control" ng-model="shareIdea.idea.title">



                <h2 class="section-heading">Description</h2>
                <input type="text" class="form-control" ng-model="shareIdea.idea.description">

                <h2 class="section-heading">Problem</h2>
                <textarea class="form-control" rows="10" ng-model="shareIdea.idea.problem"></textarea>

                <h2 class="section-heading">Solution</h2>
                <textarea class="form-control" rows="10" ng-model="shareIdea.idea.solution"></textarea>

                <ul class="pager"><li class="next"><a href="" ng-click="shareIdea.share()">Submit</a></li></ul>


            </form>

        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; ideaSharing 2015</p>
            </div>
        </div>
    </div>
</footer>